

.content-section-heading {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.text-secondary {
  color: #ecb807 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #494f54 !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: -15px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;

}
.rowe {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: -15px;


}

.col-lg-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

.portfolio-item .caption {
  -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  -webkit-clip-path: inset(0px);
  clip-path: inset(0px);
}

.portfolio-item .caption .caption-content {
  transition: opacity 0.25s;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.portfolio-item:hover .caption {
  background-color: rgba(29, 128, 159, 0.9);
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}

.caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: fade-out($gray-900, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media(min-width: 992px) {
  max-width: none;
  margin: 0;
  .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);

    .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
  }
}

.caption {
  background-color: fade-out($primary, 0.1);
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}

.caption-content {
  color: $white;
  margin: auto 2rem 2rem;

  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  p {
    font-weight: 300;
    font-size: 1.2rem;
  }
}
.caption {
  -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
  -webkit-clip-path: inset(0px);
  clip-path: inset(0px);
  .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
}
