@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'masthead';
@import 'buttons';
@import 'about';
@import 'projects';
@import 'signup';
@import 'contact';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #1b1e21;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken(#CC9933, 20%);
  }
}
.background-contact{
  background: linear-gradient(to bottom, #191919 0, #999999  75%, #FFCCFF  100%);
}
.background-footer{
  background-color: #FFCCFF;
}

.bg-black {
  background-color: #212529 !important;
}

.bg-primary {
  background-color: #CC9933 !important;
}

.text-primary {
  color: #f1b0b7 !important;
}

footer {
  padding: 5rem 0;
}
