<!DOCTYPE html>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Jazda ślubna</title>
</head>
<body>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div style="padding-left: 30px" class="row align-items-center no-gutters mb-4 mb-lg-5 ">

            <div class="col-xl-4 col-lg-5">
                <div class="text-white-50 featured-text text-center text-lg-left " >
                    <h1 class="text-white-80">O samochodzie</h1><br>
                    <p class="text-black-50 mb-0">
                    <ul style="display: inline-block;margin-right: 20px">
                        <li>Silnik V8 bi-turbo, produkujący 525 koni mechanicznych</li>
                        <br>
                        <li>Prestiżowe, luksusowe wnętrze ze skórzaną tapicerką</li>
                        <br>
                        <li>Fantastyczne nagłośnienie Harman Kardon</li>
                        <br>
                        <li>Ciemne szyby, zapewniające prywatność</li>
                        <br>
                        <li>Regularnie serwisowana klimatyzacja</li>
                        <br>
                        <li>Uchwyty na kieliszki z szampanem z tyłu</li>
                    </ul>
                    </p></div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/foto2.jpg" alt="">
            </div>
        </div>

        <!-- Project One Row -->
        <h1 id = "gallery" style="padding-top:50px; color: whitesmoke !important; font-family: 'Marcellus SC', serif; text-align: center"
            class="text-white mb-4">Galeria zdjęć</h1>
        <hr style="background-color: #f5c6cb; width: 50%; height: 3px; margin-top: 0 !important;">
        <div style="padding-left: 30px" class="row justify-content-center no-gutters mb-lg-0">


            <div class="col-lg-6" style="display: block">
                <img class="img-fluid" src="img/fotoo3.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Mercedes CLS AMG</h4>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div style="padding-left: 30px" class="row justify-content-center no-gutters">
            <div class="col-lg-6" style="display: inline-block">
                <img class="img-fluid" src="img/fotoo4.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">

                            <p class="mb-0 text-white-50">Uroczystość ślubna to bardzo wyjątkowy dzień, który każdy z
                                nowożeńców zapamięta do końca życia...</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Project three Row -->

        <div style="padding-left: 30px" class="row justify-content-center no-gutters mb-lg-0">
            <div class="col-lg-6" style="display: block">
                <img class="img-fluid" src="img/fotoo5.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-white-50">Zakochani są świadomi, że ich miłość to nie wiatr,
                                mają zaszczyt zawiadomić, że chcą razem iść przez świat...</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project four Row -->
        <div style="padding-left: 30px" class="row justify-content-center no-gutters">
            <div class="col-lg-6" style="display: inline-block">
                <img class="img-fluid" src="img/fotoo6.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">

                            <p class="mb-0 text-white-50">W opinii tego świata zawarcie małżeństwa
                                jest uwieńczeniem wszystkiego jak w komedii.
                                Prawda jednak jest dokładnie odwrotna:
                                małżeństwo to początek wszystkiego.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project five Row -->

        <div style="padding-left: 30px" class="row justify-content-center no-gutters mb-lg-0">
            <div class="col-lg-6" style="display: block">
                <img class="img-fluid" src="img/fotoo7.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-white-50">"Tylko milość wie, jak to robić, aby dając innym, samemu się wzbogacić" <br>C.Brantano</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Project six Row -->
        <div style="padding-left: 30px" class="row justify-content-center no-gutters">
            <div class="col-lg-6" style="display: inline-block">
                <img class="img-fluid" src="img/fotoo8.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">

                            <p class="mb-0 text-white-50">CLS AMG to wyjątkowe auto ze stajni Mercedesa dla osób, które cenią luksus połączony ze sportowym charakterem.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
</body>
</html>